<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/register.css">
   <title>Register</title>
</head>
<body>
   <div class="container">
      <div class="register">
         <h1>Register</h1>
         <form action="/register" method="post">
            <div class="inputs">
               <div class="block email">
                  <label for="email" class="label__email">Email</label>
                  <input class="input email__input" type="text" id="email" name="email" required>
               </div>
               <div class="block name">
                  <label for="name" class="label__name">Name</label>
                  <input class="input name__input" type="text" id="name" name="name" required>
               </div>
               <div class="block password">
                  <label for="password" class="label__password">Password</label>
                  <input class="input password__input" type="password" id="password" name="password" required>
               </div>
            </div>
            <button class="signup__button" type="submit">Sign up</button> 
            <a href="/login">Log in</a>
         </form>
         <span class="arc arc__top"></span>
         <span class="arc arc__bottom"></span>
      </div>
   </div>
</body>
</html>